@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    background-image: url(/assets/bg/header_bg.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

/*Character*/

.character {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 300px;
}

.character img {
    width: 100%;
    height: auto;
}

.skov {
    background-image: url(/assets/bg/site_background.png);
    background-position: center;
    background-size: cover;
}

.skovsump {
    background-image: url(/assets/bg/forest_swamp_transition.png);
    background-position: center;
    background-size: cover;
}

.sump {
    background-image: url(/assets/bg/swamp_background.png);
    background-position: center;
    background-size: cover;
}

