.archer-div {
  display: flex;
  justify-content: center;
}

.archer-container-1 {
    position: relative;
    top: 35px;
    z-index: 998;
    width: 125px; /* Width of one saruman frame */
    height: 189px; /* Height of the saruman sprite */
    overflow: hidden;
  }
.archer-container-2 {
    position: relative;
    top: 35px;
    z-index: 998;
    width: 125px; /* Width of one saruman frame */
    height: 189px; /* Height of the saruman sprite */
    overflow: hidden;
  }
.archer-container-3 {
    position: relative;
    top: 35px;
    z-index: 998;
    width: 125px; /* Width of one saruman frame */
    height: 189px; /* Height of the saruman sprite */
    overflow: hidden;
  }
.archer-container-4 {
    transform: scaleX(-1);
    position: relative;
    top: 35px;
    z-index: 1001;
    width: 125px; /* Width of one saruman frame */
    height: 189px; /* Height of the saruman sprite */
    overflow: hidden;
  }
.archer-container-5 {
    transform: scaleX(-1);
    position: relative;
    top: 35px;
    z-index: 998;
    width: 125px; /* Width of one saruman frame */
    height: 189px; /* Height of the saruman sprite */
    overflow: hidden;
  }
.archer-container-6 {
    transform: scaleX(-1);
    position: relative;
    top: 35px;
    z-index: 998;
    width: 125px; /* Width of one saruman frame */
    height: 189px; /* Height of the saruman sprite */
    overflow: hidden;
  }

  
  .archer-animation-1 {
    position: relative;
    z-index: 998;
    width: 250px; /* Total width of the sprite sheet (7 frames * 100px per frame) */
    height: 189px;
    background: url(/assets/sprites/archer/acher_sharpshooter_2frame.png) no-repeat;
    background-position: 0; /* Start on the first frame */
    animation: play-archer 3s steps(2) infinite;
  }
  
  .archer-animation-2 {
    position: relative;
    z-index: 998;
    width: 250px; /* Total width of the sprite sheet (7 frames * 100px per frame) */
    height: 189px;
    background: url(/assets/sprites/archer/acher_sharpshooter_2frame.png) no-repeat;
    background-position: 0; /* Start on the first frame */
    animation: play-archer 3s steps(2) infinite;
  }
  
  @keyframes play-archer {
    0% {
      background-position: 0; /* Start at the first frame */
    }
    100% {
      background-position: -250px; /* End at the last frame (6 * 100px for 7 frames) */
    }
  }

  @media (max-width: 480px) {
    .archer-container-1 {
        top: 20px;
        width: 100px;
        height: 151px;
      }
    .archer-container-2 {
        top: 20px;
        width: 100px;
        height: 151px;
      }
    .archer-container-3 {
        top: 20px;
        width: 100px;
        height: 151px;
      }
    .archer-container-4 {
        top: 20px;
        width: 100px;
        height: 151px;
      }
    .archer-container-5 {
        top: 20px;
        width: 100px;
        height: 151px;
      }
    .archer-container-6 {
        top: 20px;
        width: 100px;
        height: 151px;
      }
    .archer-animation-1 {
        width: 200px;
        height: 151px;
      }
    .archer-animation-2 {
        width: 200px;
        height: 151px;
      }
  }