@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');

body, html {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}


section {
    margin: 0;
    padding: 0;
    height: 100vh;
    max-width: 100%;
}

h1, h3, h4 {
    font-family: 'Germania One', cursive;
    margin: 0;
    color: white;
}

h1 {
    font-size: 7rem;
}

h3 {
    font-size: 3rem;
}

button {
    font-family: 'Germania One', cursive;
    font-size: 2rem;
    padding: 10px 20px;
    background-color: #CF503A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 100px;
}

button:hover {
    background-color: #cc2a0d;
}

.back-button {
    position: fixed;
    top: 20px;
    left: 25px;
    color: #CF503A;
    text-decoration: none;
    font-size: 3em;
    z-index: 10;
}

.back-button:hover {
    color: #cc2a0d;
}

.logo {
    height: 150px;
    position: absolute;
    top: 20px;
    left: 50px;
    z-index: 1005;
}



.header-text {
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    z-index: 1003;
}

.login {
    position: relative;
}

.login-button-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.buttons-header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 700px;
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1003;
}

.header-section {
    position: relative;
    background-image: url(/assets/bg/header-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150vh;
    width: 100vw;
    overflow: hidden;
}

.header-fg {
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-image: url(/assets/fg/header-foreground.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1001;
}

.character {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 300px;
    z-index: 1000;
}

.character img {
    display: none;
    width: 100%;
    height: auto;
}

#frame-1 {
    display: block;
}

.dragon {
    position: relative;
    top: 50%;
    left: -400px;
    transform: translateY(-50%);
    z-index: 1003;
}

.skov {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/bg/farmland-background.png);
    background-position: center;
    background-size: cover;
}

.fight-container {
    position: absolute;
    top: 120vh;
}

.orc-rider {
    position: absolute;
    top: 130vh;
    right: 15%;
}


.ogre {
    position: relative;
}

.beaten-knight {
    position: relative;
    right: 15%;
}

.farm-fg {
    position: relative;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background-image: url(/assets/fg/farmland-foreground.png);
    background-position: center;
    background-size: cover;
}

.skovsump {
    background-image: url(/assets/bg/forest_swamp_transition.png);
    background-position: center;
    background-size: cover;
}

.forestswamp-fg {
    position: relative;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background-image: url(/assets/fg/forest_swamp_transition_foreground.png);
    background-position: center;
    background-size: cover;
}


.sump {
    background-image: url(/assets/bg/swamp_background.png);
    background-position: center;
    background-size: cover;
}

.swamp-fg {
    bottom: 700px;
    position: relative;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background-image: url(/assets/fg/swamp_foreground.png);
    background-position: center;
    background-size: cover;
}

.shrek-container {
    position: relative;
    left: 70%;
    z-index: 999;
}

.shrek {
    position: relative;
    z-index: 999;
}

.bro {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/bg/swamp_forest_transition.png);
    background-position: center;
    background-size: cover;
}

.bridgefire-container {
    display: none;
    position: absolute;
}


.bridgefire-1 {
    position: relative;
    left: 40%;
    height: 100px;
    width: 100px;
    z-index: 1001;
}

.bridgefire-2 {
    position: relative;
    top: -50px;
    left: 35%;
    height: 100px;
    width: 100px;
    z-index: 1001;
}

.bridgefire-3 {
    position: relative;
    top: -100px;
    left: 10%;
    height: 100px;
    width: 100px;
    z-index: 1001;
}

.bridgefire-4 {
    position: relative;
    top: -100px;
    right: 30%;
    height: 100px;
    width: 100px;
    z-index: 1001;
}

.bridgefire-5 {
    position: relative;
    top: -50px;
    right: 55%;
    height: 100px;
    width: 100px;
    z-index: 1001;
}


.broimg {
    position: relative;
    z-index: 1000;
    width: 100%;
}

.village {
    background-image: url(/assets/bg/village-1-background.jpg);
    background-position: center;
    background-size: cover;
}

.village-fg {
    position: relative;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background-image: url(/assets/fg/village-1-foreground.png);
    background-position: center;
    background-size: cover;
}

.villager-container {
    height: 150px;
    width: 150px;
    position: relative;
    left: 20%;
    top: -800px;
    z-index: 1002;
}

.peasant-couple {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1001;
}

.peasant-container {
    height: 150px;
    width: 150px;
    position: relative;
    left: 20%;
    top: -110vh;
    z-index: 999;
}

.peasant {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1001;
}
.haystack {
    top: -150px;
    left: 100px;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 999;
}

.vindebro {
    background-image: url(/assets/bg/site_background.png);
    background-position: center;
    background-size: cover;
}


.castle-wall {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1001;
    height: 100%;
    width: 100%;
    background-image: url(/assets/castle-wall.png);
    background-position: center;
    background-size: cover;
}

.wizard-div {
    width: 400px;
}

.wizard-speechbubble {
    position: relative;
    top: -50px;
    left: 46%;
    height: 100px;
    width: 100%;
    z-index: 1002;
}

.castle-wizard {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ballista-container {
    position: relative;
    bottom: 200px;
    left: 100px;
}

.ballista {
    position: relative;
}

.slot-entrance {
    background-image: url(/assets/bg/castle-entrance-background.png);
    background-position: center;
    background-size: cover;
}

.slot-entrance-fg {
    position: relative;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background-image: url(/assets/fg/castle-entrance-foreground.png);
    background-position: center;
    background-size: cover;
}

.slot {
    background-image: url(/assets/bg/castle-interior-background.png);
    background-position: center;
    background-size: cover;
}

.slot-fg {
    position: relative;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background-image: url(/assets/fg/castle-interior-foreground.png);
    background-position: center;
    background-size: cover;
}

.slot-braziers {
    position: relative;
    z-index: 1001;
    height: 100%;
    width: 100%;
    background-image: url(/assets/castle-interior-brazier.png);
    background-position: center;
    background-size: cover;
    display: none;
}

.exclamation-mark-contact {
    height: 100px;
    position: relative;
    left: 8%;
    bottom: 550px;
}


.contact-scroll {
    cursor: pointer;
    height: 175px;
    position: absolute;
    left: 47%;
    bottom: 250px;
    z-index: 1005;
}

/*banners*/

.exclamation-mark {
    background-image: url(/assets/exclamation.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
    z-index: 1003;
    height: 100px;
    
}

.exclamation-mark-arrangementer {
    position: relative;
    top: -350px;
    left: 25%;
}



.arrangementer-banner {
    background-image: url(/assets/banners/banner_events.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: -400px;
    left: 25%;
    height: 400px;
    z-index: 1002;
}

.gallery-banner {
    background-image: url(/assets/banners/banner_gallery.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    bottom: 550px;
    left: 25%;
    height: 300px;
    z-index: 1001;
}

.exclamation-mark-gallery {
    position: relative;
    bottom: 575px;
    left: 25%;
}

.news-banner-div {
    position: relative;
    left: 30%;
    width: 300px;
}

.news-banner {
    background-image: url(/assets/banners/banner_news.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    bottom: 400px;
    height: 250px;
    z-index: 1001;
}

.exclamation-mark-news {
    position: relative;
    bottom: 400px;
}




/* Media Queries for Responsiveness */

/* Small screens (tablets and large smartphones) */
@media (max-width: 768px) {
    h1 {
        font-size: 5rem;
    }
    h3 {
        font-size: 2rem;
    }
    .header-text {
        width: 80%;
        top: 20%;
    }
    .buttons-header-container {
        flex-direction: column;
        gap: 30px;
        width: 50%;
    }

    .orc-rider {
        display: none;
    }

    .shrek {
        display: none;
    }

    .bridgefire-container {
        display: none !important;
    }

    .castle-wizard {
        height: 200px;
        top: 50px;
    }

    .wizard-speechbubble {
        position: relative;
        left: 30%;
        top: -50px;
        width: 400px;
    }


    .character {
        width: 175px;
        height: 275px;
    }
    .dragon {
        left: -200px;
    }
    button {
        font-size: 1.5rem;
        height: 80px;
    }
}

/* Extra small screens (smartphones) */
@media (max-width: 480px) {
    h1 {
        font-size: 3rem;
    }
    h3 {
        font-size: 1.5rem;
    }

    .fight-container {
        display: none;
    }

    .orc-rider {
        display: none;
    }

    .ballista {
        display: none;
    }

    .gallery-banner {
        height: 200px;
        bottom: 200px;
    }

    .arrangementer-banner {
        height: 300px;
        top: 100px;
    }


    .exclamation-mark-arrangementer {
        top: 50px;
    }


    .exclamation-mark-gallery {
        bottom: 200px;
    }

    .exclamation-mark {
        height: 50px;
    }


    .logo {
        height: 100px;
        top: 10px;
        left: 10px;
    }

    .font {
        font-size: 2rem !important;
    }
    
    .letter {
        font-size: 2rem;
    }


    .header-text {
        width: 90%;
        top: 15%;
    }
    .buttons-header-container {
        gap: 20px;
        width: 50vw;
    }
    .character {
        width: 125px;
        height: 200px;
    }
    .dragon {
        left: -100px;
    }
    button {
        font-size: 1rem;
        height: 60px;
    }

    .bridgefire-container {
        display: none !important;
    }

    .shrek-container {
        display: none;
    }

    .castle-wizard {
        height: 200px;
        top: -5%;
    }

    .wizard-speechbubble {
        position: relative;
        left: 30%;
        top: -100px;
        width: 225px;
    }

    .news-banner-div {
        position: relative;
        left: -100px;
        top: 100px;
    }

    .peasant-container {
        display: none;
    }

    .villager-container {
        display: none;
    }

    .contact-scroll {
        height: 100px;
        bottom: 200px;
    }

    .exclamation-mark-contact {
        height: 50px;
        left: 20%;
        bottom: 350px;
    }
    
}



