/* styles.css */
.container {
    text-align: center;
    margin-top: 50px;
}

#imagePreview {
    margin-top: 20px;
}

#preview {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    padding: 5px;
    display: block;
    margin: 0 auto;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

.uploaded-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uploaded-item img {
    margin-bottom: 10px;
}