.gandalf-animation {
  position: relative;
  z-index: 1001;
  left: 44%;
  top: 500px;
  width: 200px; /* Display width of each frame */
  height: 200px; /* Height of each frame */
  background: url(../../assets/sprites/saruman/gandalf_bigger.gif) no-repeat;
  background-size: contain;
}

.gandalf-speech-bubble {
  position: relative;
  top: 125px;
  left: 46%;
  height: 75px;
  width: 100%;
  background: url(../../assets/sprites/speechbubbles/pixel-speech-bubble.gif) no-repeat;
  background-size: contain;
  z-index: 1002;
}

@media (max-width: 1920px) {
  .gandalf-animation {
    left: 44%;
    top: 400px;
    width: 200px;
    height: 200px;
  }

  .gandalf-speech-bubble {
    top: 150px;
    height: 75px;
  }
  
}



@media (max-width: 768px) {
  .gandalf-animation {
    left: 40%;
    top: 250px;
    width: 200px;
    height: 200px;
  }

  .gandalf-speech-bubble {
    top: -25px;
    height: 75px;
  }
 
}

@media (max-width: 480px) {
  .gandalf-animation {
    left: 35%;
    top: 150px;
    width: 150px;
    height: 150px;
  }

  .gandalf-speech-bubble {
    top: -50px;
    height: 50px;
  }

}
